body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('ASSET/background.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    background-attachment: fixed;
    font-size: 100%;
}

nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 1%;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 2%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: khaki;
}

.area {
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    margin-right: 15%;
    margin-left: 15%;
}

.intro {
    text-align: center;
    margin: 20px;
}

.foto-profil img {
    max-width: 100%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    transition: transform 0.3s;
}

.foto-profil img:hover {
    transform: scale(1.1);
}

.nama {
    font-size: 24px;
    margin-top: 10px;
}

.pekerjaan {
    font-size: 18px;
}

.situs {
    margin-top: 20px;
}

.situs a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.5s;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    text-align: center;
}

.situs a:hover {
    color: white;
}

.situs a[href="https://www.linkedin.com/in/dhikapramudhia"]:hover {
    color: lightskyblue;
}

.situs a[href="https://www.instagram.com/dhikaprmdh"]:hover {
    color: palevioletred;
}

.situs a[href="https://www.youtube.com/dhikapramudhia"]:hover {
    color: red;
}

.situs a[href="https://github.com/Dhikaprmdh"]:hover {
    color: peru;
}

.garis {
    border-top: 1px solid white;
    border-width: 1px;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

.garis h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.garis p {
    font-size: 18px;
    margin-bottom: 10px;
}

.garis#skills ul,
.garis#interests ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.garis#skills ul li,
.garis#interests ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    border-top: 1px solid white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    width: 72%;
    position: relative;
    margin: 0 auto;
}

.copyright {
    color: white;
    font-size: 14px;
}

.footer img {
    max-width: 100px;
}

.footer:hover img {
    transform: scale(1.5);
}

@media (max-width: 768px) {
    body {
        font-size: 90%;
        background-size: contain;
        background-color: rgba(0, 0, 0, 0.6);
        background-attachment: fixed;
    }

    .area {
        text-align: center;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 1%;
        margin-right: 18%;
        margin-left: 18%;
        margin-top: 2%;
    }

    .foto-profil img {
        width: 100px;
        height: 100px;
    }

    .situs a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
        font-size: 18px;
        transition: color 0.5s;
        display: block;
        padding: 10px 20px;
        border: 2px solid white;
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    iframe.video {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    footer {
        border-top: 1px solid white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px 2%;
        width: 65%;
        margin: 20px auto 0;
    }

    .footer img {
        max-width: 80px;
    }

    nav {
        width: 65%;
        margin: 20px auto 0;
        padding: 2%;
        border: 2px solid white;
        text-align: center;
    }

    .garis p {
        font-size: 11px;
        text-align: center;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin: 10px 0;
    }

    nav a {
        font-size: 16px;
        text-decoration: none;
        color: white;
        transition: transform 0.3s ease;
        display: inline-block;
        padding: 5px 10px;
    }

    nav a:hover {
        transform: scale(1.1);
    }
}

